#bug-element {
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99999;
  color: darkred;
  //transition: all 10s linear;
  cursor: url('/assets/cursor-bug.png'), auto;
}

#icon-wrapper {
  transition: rotate 0.5s;
}

.wiggle {
  animation: wiggling .15s linear 0s infinite alternate;
  rotation-point: center;
}

@keyframes wiggling {
  0% {
    rotate: -10deg
  }
  100% {
    rotate: 10deg
  }
}
